
modules = ["python-3.12", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "openjdk17"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42547172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
