modules = ["python-3.12", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42547172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
